<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Calculadora</a>
  </div>
</nav>

<div class="container">
  <div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
      <div class="mb-3">
        <label for="num1" class="form-label">Numero 1:</label>
        <input type="number" class="form-control" id="num1" name="num1" #num1 ng-Model>
      </div>
      <div class="mb-3">
        <label for="num2" class="control-label">Numero 2:</label>
        <input type="number" class="form-control" id="num2" name="num2" #num2 ng-Model>
      </div>
      <div class="d-grid gap-1">
        <button id="btnSuma" class="btn btn-primary" (click)="suma(num1.value, num2.value)">Suma</button>
        <button id="btnSuma" class="btn btn-secondary" (click)="resta(num1.value, num2.value)">Resta</button>
        <button id="btnSuma" class="btn btn-success" (click)="multi(num1.value, num2.value)">Multiplicación</button>
        <button id="btnSuma" class="btn btn-danger" (click)="divi(num1.value, num2.value)">División</button>
      </div>
    </div>
  </div>
</div>